html, div
{
    font-family: cursive;
}
.navbar
{
    background-color: #414150;
    border: 0ch;
}

.navbar-header
{
    color: whitesmoke;
}

.container
{
    margin-left: 11.65rem;
}

.nav-tabs a
{
    color: whitesmoke;
    background-color: crimson;
}

.nav-tabs a:hover
{
    color: #414150;
}

footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #414150;
    color: white;
    text-align: center;
}

.tab-content p
{
    font-size: medium;
}

.col-sm-6
{
    margin-bottom: 2rem;
}