html, body, div, main
{
    font-family: cursive;
}
.navbar
{
    background-color: #414150;
    border: 0ch;
}

.navbar-header
{
    color: whitesmoke;
}

.container
{
    margin-left: 11.65rem;
}

.nav-tabs a
{
    color: whitesmoke;
    background-color: crimson;
}

.nav-tabs a:hover
{
    color: #414150;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #414150;
    color: white;
    text-align: center;
}

.tab-content p
{
    font-size: medium;
}

.col-sm-6
{
    margin-bottom: 2rem;
}

.form-group label, select
{
    margin-bottom: 2rem;
}

#sel1
{
    width: 32%;
}

.row:after
{
    content: "";
    display: table;
    clear: both;
}
  
#ratings
{
    margin-left: .15rem;
}

.bar-container
{
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
  
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
@media (max-width: 400px)
{
    .side, .middle
    {
      width: 100%;
    }
    .right
    {
      display: none;
    }
}